<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star's of Sky</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
     
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/mina_hundar">Mina hundar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Hem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="om_mig">Om mig</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hundar_jag_minns">Hundar jag minns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kontakt">Kontakta mig</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <h1>Leiya</h1>
        <hr>
        <div class="row ">
            <div class="col col-left ">
                <img class="img" src="images/poetiskleiya.jpg" width="25%">
                <p class="textblock"> <b>RED BLOOMS DREAM FOR ME</b> Leiya är en ung, äventyrlig dam som älskar skog
                    vatten
                    och naturen. Hon är
                    lugn och harmonisk i nya miljöer med människor och andra djur. Hon är alltid glad och tycker om att
                    möta nya människor.

                    Hon är med mig på jobbet och är inte bara min bästa arbetskamrat utan även kundernas favorit! Varje
                    dag med henne är ett spännande äventyr.


                    Här är hennes data:
                    SE34579/2017
                    HD grad A
                    ED ua (0)
                    Öga UA
                    BPH med skott genomförd.
                    Utställning: excellent, BIR valp My Dog 2017 m.m.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col col-left ">
            </div>
            <div class="col col-right ">
            </div>
        </div>
    </main>
</body>

</html>