<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star's of Sky</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
     
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/om_mig">Om mig</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Hem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mina_hundar">Mina hundar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hundar_jag_minns">Hundar jag minns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kontakt">Kontakta mig</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <h1>Om mig</h1>
        <hr>
        <div>
            <img src="images/leiyaMedaljer.jpg">
        </div>

        <div>
            <p> 
                Jag heter Marita och bor i Göta, ett vackert litet område fem mil norr om Göteborg, nära vatten och skog, skogen är för mig mitt andra hem. Min man Patrik och jag har två utflugna barn Kim och Adam och två som bor kvar hemma, Kevin och Gabriel. Vi har också två fantastiska barnbarn, två och ett år gamla.
                <br>
                <br>
                Jag jobbar i en blomsteraffär och med mig på dagarna har jag min golden tjej Leiya, en mycket uppskattad arbetskamrat och mina kunder älskar henne.
                <br>
                <br>
                Mitt intresse för golden började i 20-års åldern när en granne till mig hade med sig sin golden tjej i sandlådan när barnen lekte, hon hette Ellen och jag blev så förälskad i denna trogna, roliga och kärleksfulla ras. Jag bestämde mig där och då för att skaffa mig en golden i framtiden.
                <br>
                <br>
                Dock gick det några år och det blev en Newfoundlandshane som hamnade hos mig, Rocky.  Åren gick och efter fyra barn, arbete och studier blev jag sjuk. Jag hade kört på för fort. 
                <br>
                <br>
                Vändningen kom när Charlie, en golden kille på 10 månader kom in i mitt liv, vild och alldeles underbar, en sån kille! Han bokstavligen talat räddade livet på mig. Han blev min vän och följeslagare i hela 13 år. Vi fick så småningom också ta hand om en golden tjej, Tindra, som var sju månader. Och att ha två gyllene vänner var makalöst roligt. Tyvärr gick Tindra bort alldeles för tidigt, hon blev endast fyra år. Detta var så otroligt sorligt. Kvar hade jag då min Charlie som var över 12 år gammal.
                <br>
                <br>
                Efter mycket letande kom Leiya in i mitt liv. Vilken lycka! Varje dag med henne är ett äventyr. Hon är en påhittig, underbar och rolig ung dam.
                <br>
                <br>
                Att leva med hundar är inte bara mitt intresse, utan det är mitt liv.  Vill du veta mer om rasen rekommenderar jag att gå in på http://goldenklubben.se/.
                <br>
                <br>
                Kram Marita.
            </p>
            </div>

    </main>
</body>

</html>